@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  font-family: 'Poppins', sans-serif;
}

.crimson_font{
  font-family: 'Crimson Pro', serif;
}

/* Initial style for inactive indicators */
.inactive {
  opacity: 0.5;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #71CB9060;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #71CB90;
}